include README.md
include README.rst
include *.yaml
include *.txt
include *.md
include *.rst
recursive-include marshall_webapp *
global-exclude *.pyo
global-exclude *.pyc


include *.txt *.ini *.cfg *.rst
recursive-include marshall_webapp *.ico *.png *.css *.gif *.jpg *.pt *.txt *.mak *.mako *.js *.html *.xml
